  
  
  * {
    box-sizing: border-box;
    /*border: 1px solid red;*/
     }



body {
    font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #6e6e6e;
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

.nav {
background-color: #333A4A;

}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
  }
 
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
  }

  .nav-link:hover {
    color:#ff0000 ;}

#photo {
    background-color: #333A4A; 
    display: flex;
    justify-content: center;
    padding: 10px 0;
          
 }

 .radius {
    border-radius: 50%;
 }

 
 #name {
    background-color: #333A4A; 
    color: #ffffff;
    padding-left: 10px;
 }

 #contacts {
  padding-left: 10px;
 }

 #profile {
  padding-left: 10px;
 }

 #skills {
  padding-left: 10px;
 }

 #experience {
  padding-left: 10px;
 }

 .links {
    color: #3d3d3d;
    text-decoration: none;
    transition: color 0.3s;
 }

 .links:hover {
  color: #ff0000;
  }


 html {
    scroll-behavior: smooth; 
  }

 

  .container {
    color: #3d3d3d;
    max-width: 1200px;
    margin: 0 auto;
   
      }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    width: 50%;
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ff0000;
  }

  .title-name {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ff0000;
  }

  .date {
    font-size: 18px;
    font-weight: 300;
  }

  .bold {
    font-size: 18px;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
      }

      .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
      }
     
      .footer-link {
        padding: 0 20px;
        line-height: 50px;
        transition: .3s;
        color: #3d3d3d;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
      }
    
      .footer-link:hover {
        color:#ff0000 ;}
